/* code for header */
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-2 {
  /* z-index: 1; */
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.img {
  aspect-ratio: 2.21;
  object-fit: contain;
  object-position: center;
  width: 228px;
  overflow: hidden;
  max-width: 100%;
}
.div-3 {
  align-self: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
  margin: auto 0;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.div-4 {
  text-align: center;
  align-self: center;
  flex-grow: 1;
  white-space: nowrap;
  margin: auto 0;
  font: 600 16px Poppins, sans-serif;
}
.div-4 > a[href] {
  padding: 1vh 1vw 1vh 1vw;
  color: black;
  text-decoration: none;
}
.div-4 > a[href]:hover {
  border-radius: 10px;
  background-color: #230753;
  color: white;
}
@media (max-width: 991px) {
  .div-4 {
    white-space: initial;
  }
}
.div-5 {
  color: #000;
  text-align: center;
  align-self: center;
  margin: auto 0;
  font: 600 16px Poppins, sans-serif;
}
.div-5 > a[href] {
  padding: 1vh 1vw 1vh 1vw;
  color: black;
  text-decoration: none;
}
.div-5 > a[href]:hover {
  border-radius: 10px;
  background-color: #230753;
  color: white;
}
.div-6 {
  color: #000;
  text-align: center;
  align-self: center;
  margin: auto 0;
  font: 600 16px Poppins, sans-serif;
}
.div-6 > a[href] {
  padding: 1vh 1vw 1vh 1vw;
  color: black;
  text-decoration: none;
}
.div-6 > a[href]:hover {
  border-radius: 10px;
  background-color: #230753;
  color: white;
}
.div-7 {
  color: #000;
  text-align: center;
  align-self: center;
  margin: auto 0;
  font: 600 16px Poppins, sans-serif;
}
.div-7 > a[href] {
  padding: 1vh 1vw 1vh 1vw;
  color: black;
  text-decoration: none;
}
.div-7 > a[href]:hover {
  border-radius: 10px;
  background-color: #230753;
  color: white;
}
.div-8 {
  color: #000;
  text-align: center;
  margin: auto 0;
  font: 600 16px Poppins, sans-serif;
}
.div-8 > a[href] {
  padding: 1vh 1vw 1vh 1vw;
  color: black;
  text-decoration: none;
}
.div-8 > a[href]:hover {
  border-radius: 10px;
  background-color: #230753;
  color: white;
}
.img-2 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 32px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
}
.img-3 {
  aspect-ratio: 1.07;
  object-fit: contain;
  object-position: center;
  width: 31px;
  overflow: hidden;
  align-self: start;
  max-width: 100%;
}
#document-section {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  overflow-x: hidden;
}

.doc-title {
  display: block;
  text-align: center;
  width: 100vw;
  background-color: #230753;
  color: #f6f6f6;
  font-size: 2.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  margin-bottom: 3rem;
}
.legaldoc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin: 3rem;
}
.docsRow {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 4rem;
}
.doc {
  justify-content: center;
  align-items: center;
  height: fit-content;
  border: #414086 3px dashed;
  padding: 2rem 1.3rem;
  border-radius: 10px;
}
.docImage {
  width: 13.9375rem;
  height: 8.875rem;
  padding: 0.6rem;
  margin-bottom: 1rem;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: #392261;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.5));
  transition: all ease 0.1s;
}
.docImage:hover {
  transform: translateY(-1rem) scale(1.1);
}
.docImage img {
  object-fit: cover;
  max-height: 8.875rem;
}
.docSubTitle {
  display: inline-block;
  padding: 0.5rem;
  border: #414086 3px solid;
  text-align: center;
  color: #03024b;
  text-align: center;
  font-family: Poppins;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease 0.1s;
}
.docSubTitle:hover {
  background-color: #414086;
  color: white;
}
.seeMore {
  width: fit-content;
  justify-content: center;
  margin: auto;
  padding: 0.5rem;
  border: #414086 3px solid;
  text-align: center;
  color: #03024b;
  text-align: center;
  font-family: Poppins;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 10px;
  margin-bottom: 1rem;
  cursor: pointer;
}
.seeMore:hover {
  background-color: #414086;
  color: white;
}
/* Code for footer */
.div_section6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.div-2_section6 {
  width: 100%;
}
@media (max-width: 991px) {
  .div-2_section6 {
    max-width: 100%;
  }
}
.div-3_section6 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-3_section6 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column_section6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 43%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column_section6 {
    width: 100%;
  }
}
.img_section6 {
  aspect-ratio: 0.87;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img_section6 {
    max-width: 100%;
  }
}
.column-2_section6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 57%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2_section6 {
    width: 100%;
  }
}
.div-4_section6 {
  border-radius: 20px 20px 20px 0px;
  background-color: #230753;
  margin-top: 139px;
  flex-grow: 1;
  width: 100%;
  padding: 28px 40px 50px;
}
@media (max-width: 991px) {
  .div-4_section6 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-5_section6 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-5_section6 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-3_section6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 83%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-3_section6 {
    width: 100%;
  }
}
.div-6_section6 {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-6_section6 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-7_section6 {
  color: #fff;
  font: 500 56px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-7_section6 {
    max-width: 100%;
    font-size: 40px;
  }
}
.div-8_section6 {
  color: #fff;
  margin-top: 45px;
  font: 400 32px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-8_section6 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-9_section6 {
  color: #03024b;
  border-radius: 40px;
  background-color: #fff;
  margin-top: 56px;
  justify-content: center;
  padding: 24px 58px;
  font: 500 32px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-9_section6 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
.column-4_section6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 17%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-4_section6 {
    width: 100%;
  }
}
.img-2_section6 {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 87px;
  overflow: hidden;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img-2_section6 {
    margin-top: 40px;
  }
}
.div-10_section6 {
  background-color: #1a1250;
  align-self: stretch;
  margin-top: 99px;
  width: 100%;
  padding: 48px 80px 48px 58px;
}
@media (max-width: 991px) {
  .div-10_section6 {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px;
  }
}
.div-11_section6 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-11_section6 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column-5_section6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 30%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column-5_section6 {
    width: 100%;
  }
}
.div-12_section6 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-12_section6 {
    margin-top: 40px;
  }
}
.img-3_section6 {
  aspect-ratio: 2.22;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
}
.div-13_section6 {
  align-self: start;
  display: flex;
  margin-left: 15px;
  align-items: center;
  gap: 8px;
}
@media (max-width: 991px) {
  .div-13_section6 {
    margin-left: 10px;
    justify-content: center;
  }
}
.div-14_section6 {
  color: #fff;
  text-align: center;
  letter-spacing: 0.24px;
  white-space: nowrap;
  font: 400 12px/210% Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-14_section6 {
    white-space: initial;
  }
}
.div-15_section6 {
  color: #fff;
  text-align: center;
  letter-spacing: 0.26px;
  font: 400 13px FontAwesome, sans-serif;
}
.div-16_section6 {
  color: #fff;
  letter-spacing: 0.24px;
  flex-grow: 1;
  white-space: nowrap;
  font: 400 12px/210% Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-16_section6 {
    white-space: initial;
  }
}
.column-6_section6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 35%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-6_section6 {
    width: 100%;
  }
}
.div-17_section6 {
  color: #fff;
  letter-spacing: 0.3px;
  margin: auto 0;
  font: 500 15px/32px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-17_section6 {
    margin-top: 40px;
  }
}
.column-7_section6 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 34%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-7_section6 {
    width: 100%;
  }
}
.div-18_section6 {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div-18_section6 {
    margin-top: 40px;
  }
}
.div-19_section6 {
  color: #fff;
  text-align: center;
  letter-spacing: 0.3px;
  white-space: nowrap;
  font: 500 15px/210% Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-19_section6 {
    white-space: initial;
  }
}
.img-4_section6 {
  aspect-ratio: 9.14;
  object-fit: contain;
  object-position: center;
  width: 256px;
  overflow: hidden;
  align-self: start;
  margin-top: 68px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .img-4_section6 {
    margin-top: 40px;
  }
}
